<app-navigation>

  <div class="container">
    <h1>Usuarios</h1>
    <button mat-raised-button color="primary" (click)="newUsuario()">Create new usuario</button> 
    <br><br>
    <mat-form-field>
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ej: Juan" #input autocomplete="off">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="num">
          <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
          <mat-cell *matCellDef="let usuario; let i = index">{{ i + 1 }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="documentoUsuario">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Documento</mat-header-cell>
          <mat-cell *matCellDef="let usuario">{{ usuario.documentoUsuario }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="idTipoDocumento">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo documento</mat-header-cell>
          <mat-cell *matCellDef="let usuario">{{ getTipoDocumento (usuario.idTipoDocumento) }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombreUsuario">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let usuario">{{ usuario.nombreUsuario }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="apellidoUsuario">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</mat-header-cell>
          <mat-cell *matCellDef="let usuario">{{ usuario.apellidoUsuario }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="telefonoUsuario">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</mat-header-cell>
          <mat-cell *matCellDef="let usuario">{{ usuario.telefonoUsuario }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="correoUsuario">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Correo</mat-header-cell>
          <mat-cell *matCellDef="let usuario">{{ usuario.correoUsuario }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="idRol">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Rol</mat-header-cell>
          <mat-cell *matCellDef="let usuario">{{ getRolUsuario (usuario.idRol) }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="idEstado">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
          <mat-cell *matCellDef="let usuario">
            <mat-slide-toggle [checked]="usuario.idEstado == 1 "(change)="toggleEstado(usuario)"></mat-slide-toggle>
          </mat-cell  >
        </ng-container>        
        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let usuario">
            <button mat-icon-button color="primary" (click)="editUsuario(usuario.documentoUsuario)" matTooltip="Editar usuario">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteUsuario(usuario.documentoUsuario)" matTooltip="Eliminar usuario" [disabled]="usuario.idEstado == 1">
              <mat-icon>delete</mat-icon>
            </button>            
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="['num', 'documentoUsuario', 'idTipoDocumento', 'nombreUsuario', 'apellidoUsuario', 'telefonoUsuario', 'correoUsuario', 'idRol', 'idEstado', 'acciones']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['num', 'documentoUsuario', 'idTipoDocumento', 'nombreUsuario', 'apellidoUsuario', 'telefonoUsuario', 'correoUsuario', 'idRol', 'idEstado', 'acciones']"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
    </div>
    <br>
    <button mat-raised-button color='accent' (click)="goBack()">Volver a la lista</button>
  </div>
  </app-navigation>
