<app-navigation>

  <div class="container">
    <h1>Usuarios</h1>
    <button mat-raised-button color="primary" (click)="newUsuario()">Create new usuario</button> 
    <br><br>
    <table mat-table class="mat-elevation-z8" [dataSource]="usuarios">
      <ng-container matColumnDef="num">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let usuario; let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="Documento">
        <th mat-header-cell *matHeaderCellDef>Documento</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.documentoUsuario }}</td>
      </ng-container>
      <ng-container matColumnDef="TipoDocumento">
        <th mat-header-cell *matHeaderCellDef>Tipo documento</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.idTipoDocumento }} - {{ getTipoDocumento (usuario.idTipoDocumento) }}</td>
      </ng-container>
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.nombreUsuario }}</td>
      </ng-container>
      <ng-container matColumnDef="Apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.apellidoUsuario }}</td>
      </ng-container>
      <ng-container matColumnDef="telefonoUsuario">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.telefonoUsuario }}</td>
      </ng-container>
      <ng-container matColumnDef="correoUsuario">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.correoUsuario }}</td>
      </ng-container>
      <ng-container matColumnDef="Rol">
        <th mat-header-cell *matHeaderCellDef>Rol</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.idRol }} - {{ getRolUsuario (usuario.idRol) }}</td>
      </ng-container>
      <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let usuario">{{ usuario.idEstado }} - {{ getEstadoUsuario (usuario.idEstado) }}</td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let usuario">
          <button mat-icon-button color="primary" (click)="editUsuario(usuario.documentoUsuario)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUsuario(usuario.documentoUsuario)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['num', 'Documento', 'TipoDocumento', 'Nombre', 'Apellido', 'telefonoUsuario', 'correoUsuario', 'Rol', 'Estado', 'acciones']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['num', 'Documento', 'TipoDocumento', 'Nombre', 'Apellido', 'telefonoUsuario', 'correoUsuario', 'Rol', 'Estado', 'acciones']"></tr>
    </table>
    <br>
    <button mat-raised-button color='accent' (click)="goBack()">Volver a la lista</button>
  </div>
  </app-navigation>
