.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    width: 400px;
  }
  
  .user-avatar {
    width: 48px;
    height: 48px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    border-radius: 50%;
  }
  
  mat-icon {
    font-size: 32px;
    color: #fff;
  }
  