<div class="landing-page">
    <header>
        <div class="container">
            <a href="#" class="logo">Star <b id="estrella">☆ </b>Routing</a>
            <ul class="links">
                <li><a (click)="scrollToInicio()">Inicio</a></li>
                <li><a (click)="scrollToSobreNosotros()">Sobre nosotros</a></li>
                <li><a (click)="scrollToContactenos()">Contáctanos</a></li>
                <li><a (click)="login()">Iniciar sesión</a></li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div id="inicio" class="container">
            <div class="info">
                <h1>Simplifica tus entregas con Star Routing</h1>
                <p>Incrementa la eficiencia en tus operaciones de entrega, reduce los costos logísticos y supera las
                    expectativas de tus clientes con nuestro software de última generación. Únete a la comunidad de
                    éxito de Star Routing y transforma tus rutas de reparto.</p>
                <button>Contáctanos</button>
            </div>
            <div class="image">
                <img src="https://i.postimg.cc/65QxYYzh/001234.png">
            </div>
        </div>
        <div id="sobreNosotros" class="container">
            <h1>Sobre nosotros</h1>
            <p>Somos una empresa dedicada a brindar soluciones logísticas de última generación. Nuestro objetivo es
                ayudar a mejorar la eficiencia en las operaciones de entrega y superar las expectativas de nuestros
                clientes.</p>
            <p>Con nuestro software avanzado, ofrecemos la capacidad de optimizar y transformar las rutas de reparto, lo
                que resulta en una reducción de los costos logísticos y una mayor satisfacción del cliente.</p>
            <p>En Star Routing, nos enorgullece ser parte de una comunidad exitosa que comparte conocimientos y
                experiencias para impulsar el crecimiento y la innovación en la industria de la logística.</p>
        </div>
    </div>
    <div id="contactenos" class="container">
        <h1>Contacte con nosotros</h1>
        <form class="cf">
            <div class="half left cf">
                <input type="text" id="input-name" placeholder="Nombre">
                <input type="email" id="input-email" placeholder="Correo electrónico">
            </div>
            <div class="half right cf">
                <textarea name="message" type="text" id="input-message" placeholder="Mensaje"></textarea>
            </div>
            <input type="submit" value="Enviar" id="input-submit">
        </form>
    </div>
</div>

<br><br><br><br>

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2024. Todos los Derechos Reservados por
                    <a href="#">Star Routing</a>.
                </p>
            </div>
        </div>
    </div>
</footer>