<div class="spinner-overlay" *ngIf="loading">
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>
<app-navigation>
    <div class="container">
        <form [formGroup]="newForm" (ngSubmit)="postForm(newForm.value)">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="idTipoDocumento">Tipo de documento <b style="color: red;">*</b></label>
                        <mat-select class="form-control" formControlName="idTipoDocumento"
                            [class.is-invalid]="newForm.get('idTipoDocumento')?.invalid && newForm.get('idTipoDocumento')?.touched">
                            <mat-option *ngFor="let tipoDocumento of tiposDocumento"
                                [value]="tipoDocumento.idTipoDocumento">
                                {{ tipoDocumento.nombreTipo }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Documento <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="documentoUsuario"
                            [class.is-invalid]="newForm.get('documentoUsuario')?.invalid && newForm.get('documentoUsuario')?.touched" />
                        <div *ngIf="newForm.get('documentoUsuario')?.errors?.['pattern'] && newForm.get('documentoUsuario')?.touched"
                            class="invalid-feedback">
                            Documento inválido, debe contener solo números.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="nombreUsuario"
                            [class.is-invalid]="newForm.get('nombreUsuario')?.invalid && newForm.get('nombreUsuario')?.touched" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Apellido <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="apellidoUsuario"
                            [class.is-invalid]="newForm.get('apellidoUsuario')?.invalid && newForm.get('apellidoUsuario')?.touched" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Teléfono <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="telefonoUsuario"
                            [class.is-invalid]="newForm.get('telefonoUsuario')?.invalid && newForm.get('telefonoUsuario')?.touched" />
                        <div *ngIf="newForm.get('telefonoUsuario')?.errors?.['pattern'] && newForm.get('telefonoUsuario')?.touched"
                            class="invalid-feedback">
                            Teléfono inválido, debe contener 10 dígitos numéricos.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Correo <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="correoUsuario"
                            [class.is-invalid]="newForm.get('correoUsuario')?.invalid && newForm.get('correoUsuario')?.touched" />

                        <div *ngIf="newForm.get('correoUsuario')?.errors?.['pattern'] && newForm.get('correoUsuario')?.touched"
                            class="invalid-feedback">
                            Correo inválido.
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Contraseña <b style="color: red;">*</b></label>
                        <div class="input-group">
                            <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control"
                                formControlName="contrasenaUsuario"
                                [class.is-invalid]="newForm.get('contrasenaUsuario')?.invalid && newForm.get('contrasenaUsuario')?.touched" />

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="toggleShowPassword()">
                                    {{ showPassword ? 'Ocultar' : 'Mostrar' }}
                                </button>
                            </div>
                            <div *ngIf="newForm.get('contrasenaUsuario')?.hasError('pattern') && newForm.get('contrasenaUsuario')?.touched"
                                class="invalid-feedback">
                                La contraseña debe contener mínimo 8 dígitos, una mayúscula, 3 dígitos y un carácter
                                especial.
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="idRol">Rol <b style="color: red;">*</b></label>
                        <mat-select class="form-control" formControlName="idRol"
                            [class.is-invalid]="newForm.get('idRol')?.invalid && newForm.get('idRol')?.touched">
                            <mat-option *ngFor="let rol of rolUsuario" [value]="rol.idRol">{{
                                rol.nombreRol}}</mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>
            <br><br />

            <button type="button" mat-raised-button color="accent" (click)="goBack()">Atras</button> |
            <button type="submit" mat-raised-button color="primary">Guardar</button>
        </form>
    </div>
</app-navigation>