<div class="wrapper fadeInDown">

  <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

  <div *ngIf="!loading" id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/Logo.png" id="icon" alt="Star Routing logo" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <!--enviamos el valor del form a la funcion onLogin-->
      <div class="fadeIn second">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Correo electronico</mat-label>
            <input id="login" formControlName="correoUsuario" matInput placeholder="Correo">
            <mat-icon matSuffix color="primary">person</mat-icon>
          </mat-form-field>
        </p>
      </div>
      <div class="fadeIn third">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input id="password" formControlName="contrasenaUsuario" matInput placeholder="Contraseña" type="password">
            <mat-icon matSuffix color="primary">lock</mat-icon>
          </mat-form-field>
        </p>
      </div>
      <!-- <input type="text" id="login" class="fadeIn second" formControlName="correoUsuario" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" formControlName="contrasenaUsuario" placeholder="Contraseña"> -->
      <input type="submit" color="primary" class="fadeIn fourth" value="Iniciar sesión">

      <!-- Botón Volver Atrás -->
      <div class="back-button">
        <button class="fadeIn fourth" type="button" (click)="goBack()">Volver atras</button>
      </div>
    </form>
  </div>
</div>