<div class="spinner-overlay" *ngIf="loading">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/img/Logo.png" id="icon" alt="Star Routing logo" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <!-- Enviamos el valor del formulario a la función onLogin -->
      <div class="fadeIn second">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Correo electrónico</mat-label>
            <input id="login" formControlName="correoUsuario" matInput placeholder="Correo">
            <mat-icon matSuffix color="primary">person</mat-icon>
          </mat-form-field>
        </p>
      </div>
      <div class="fadeIn third">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input id="password" formControlName="contrasenaUsuario" matInput placeholder="Contraseña"
              [type]="showPassword ? 'text' : 'password'">
            <mat-icon matSuffix (click)="togglePasswordVisibility()" [color]="showPassword ? 'warn' : 'primary'">
              {{ showPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </mat-form-field>
        </p>
      </div>

      <!-- <input type="text" id="login" class="fadeIn second" formControlName="correoUsuario" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" formControlName="contrasenaUsuario" placeholder="Contraseña"> -->
      <input type="submit" color="primary" class="fadeIn fourth" value="Iniciar sesión">

      <!-- Botón Volver Atrás -->
      <div class="back-button">
        <button class="fadeIn fourth" type="button" (click)="goBack()">Volver atrás</button>
      </div>
    </form>
  </div>
</div>