<app-navigation>

<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="postForm(editForm.value)">
        <div class="form-group">
            <label for="exampleFormControlInput1">Codigo QR Paquete</label>
            <input type="text" class="form-control" formControlName="codigoQrPaquete"/>
        </div>
        <div class="form-group">
            <label for="">Mensajero</label>
            <select class="form-control" formControlName="documentoUsuario">
              <option *ngFor="let usu of usuario" [value]="usu.documentoUsuario">{{ usu.nombreUsuario }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Cliente</label>
            <select class="form-control" formControlName="documentoCliente">
              <option *ngFor="let cli of cliente " [value]="cli.documentoCliente">{{ cli.nombreCliente }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Estado</label>
            <select class="form-control" formControlName="idEstado">
              <option *ngFor="let estado of estadosPaquete" [value]="estado.idEstado">{{ estado.estadoPaquete }}</option>
            </select>
        </div>
        <br><br/> 
        
        <button type="button" mat-raised-button color='accent' (click)="goBack()">Atras</button> |
        <button type="submit" mat-raised-button color='primary' >Guardar</button>
        
    </form>
</div>

</app-navigation>