<div class="spinner-overlay" *ngIf="loading">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
<app-navigation>

  <div class="container">
    <h2>Editar paquete</h2>
    <br>
    <div class="container">
      <form [formGroup]="editForm" (ngSubmit)="postForm(editForm.value)">
        <div class="row">
          <h4>Remitente
            <button class="btn btn-circle" type="button" (click)="openAddClienteDialog()">
              <span class="material-icons" style="color: green;">add</span>
            </button>
          </h4>
          <div class="col">
            <div class="form-group">
              <label for="documentoRemitente">Nombre<b style="color: red;">*</b></label>
              <mat-select class="form-control" formControlName="documentoRemitente" placeholder="---SELECCIONE---"
                [ngClass]="{
                'is-invalid': editForm.get('documentoRemitente')?.invalid && (editForm.get('documentoRemitente')?.touched || editForm.get('documentoRemitente')?.dirty),
                'is-valid': editForm.get('documentoRemitente')?.valid && (editForm.get('documentoRemitente')?.touched || editForm.get('documentoRemitente')?.dirty)
              }" (selectionChange)="onRemitenteSelectionChange($event)">
                <mat-option *ngFor="let remi of remitente" [value]="remi.documentoCliente">
                  {{ remi.nombreCliente }}
                </mat-option>
              </mat-select>
              <div *ngIf="editForm.get('documentoRemitente')?.errors?.['required']" class="invalid-feedback">
                Este campo es obligatorio.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">N° de Documento</label>
              <input type="text" class="form-control" [value]="selectedRemitente?.documentoCliente"
                [placeholder]="selectedRemitente?.documentoCliente" disabled />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Correo</label>
              <input type="text" class="form-control" [value]="selectedRemitente?.correoCliente" placeholder=""
                disabled />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Telefono</label>
              <input type="text" class="form-control" [value]="selectedRemitente?.telefonoCliente" placeholder=""
                disabled />
            </div>
          </div>
        </div><br>

        <div class="row">
          <h4>Destinatario</h4>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">N° de Documento<b style="color: red;">*</b></label>
              <input type="text" class="form-control" formControlName="documentoDestinatario" [ngClass]="{
                'is-invalid': editForm.get('documentoDestinatario')?.invalid && (editForm.get('documentoDestinatario')?.touched || editForm.get('documentoDestinatario')?.dirty),
                'is-valid': editForm.get('documentoDestinatario')?.valid && editForm.get('documentoDestinatario')?.dirty
              }" />
              <div *ngIf="editForm.get('documentoDestinatario')?.errors?.['pattern']" class="invalid-feedback">
                Documento inválido, mínimo 7 y máximo 10 dígitos numéricos.
              </div>
              <div *ngIf="editForm.get('documentoDestinatario')?.errors?.['required']" class="invalid-feedback">
                Este campo es obligatorio.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="documentoDestinatario">Nombre<b style="color: red;">*</b></label>
              <input list="destinatarios" class="form-control" formControlName="nombreDestinatario"
                [ngClass]="{
                'is-invalid': editForm.get('nombreDestinatario')?.invalid && (editForm.get('nombreDestinatario')?.touched || editForm.get('nombreDestinatario')?.dirty),
                'is-valid': editForm.get('nombreDestinatario')?.valid && (editForm.get('nombreDestinatario')?.touched || editForm.get('nombreDestinatario')?.dirty)}">
              <div *ngIf="editForm.get('nombreDestinatario')?.errors?.['required']" class="invalid-feedback">
                Este campo es obligatorio.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Correo<b style="color: red;">*</b></label>
              <input type="text" class="form-control" formControlName="correoDestinatario" [ngClass]="{
                'is-invalid': editForm.get('correoDestinatario')?.invalid && (editForm.get('correoDestinatario')?.touched || editForm.get('correoDestinatario')?.dirty),
                'is-valid': editForm.get('correoDestinatario')?.valid && editForm.get('correoDestinatario')?.dirty
              }" />
              <div *ngIf="editForm.get('correoDestinatario')?.errors?.['pattern']" class="invalid-feedback">
                Correo inválido
              </div>
              <div *ngIf="editForm.get('correoDestinatario')?.errors?.['required']" class="invalid-feedback">
                Este campo es obligatorio.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Telefono<b style="color: red;">*</b></label>
              <input type="text" class="form-control" formControlName="telefonoDestinatario" [ngClass]="{
                'is-invalid': editForm.get('telefonoDestinatario')?.invalid && (editForm.get('telefonoDestinatario')?.touched || editForm.get('telefonoDestinatario')?.dirty),
                'is-valid': editForm.get('telefonoDestinatario')?.valid && editForm.get('telefonoDestinatario')?.dirty
              }" />
              <div *ngIf="editForm.get('telefonoDestinatario')?.errors?.['pattern']" class="invalid-feedback">
                Teléfono inválido, debe contener 10 dígitos numéricos.
              </div>
              <div *ngIf="editForm.get('telefonoDestinatario')?.errors?.['required']" class="invalid-feedback">
                Este campo es obligatorio.
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="">Direccion<b style="color: red;">*</b></label>
            <input type="text" class="form-control" formControlName="codigoQrPaquete" #inputPlaces [ngClass]="{
                'is-invalid': editForm.get('codigoQrPaquete')?.invalid && (editForm.get('codigoQrPaquete')?.touched || editForm.get('codigoQrPaquete')?.dirty),
                'is-valid': editForm.get('codigoQrPaquete')?.valid && editForm.get('codigoQrPaquete')?.dirty
              }" />
            <div *ngIf="editForm.get('documentoDestinatario')?.errors?.['required']" class="invalid-feedback">
              Este campo es obligatorio.
            </div>
          </div>
        </div><br>

        <div class="row">
          <h4>Paquete</h4>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Peso en KG<b style="color: red;">*</b></label>
              <input type="text" class="form-control" formControlName="pesoPaquete" [ngClass]="{
              'is-invalid': editForm.get('pesoPaquete')?.invalid && (editForm.get('pesoPaquete')?.touched || editForm.get('pesoPaquete')?.dirty),
              'is-valid': editForm.get('pesoPaquete')?.valid && editForm.get('pesoPaquete')?.dirty
            }">
              <div *ngIf="editForm.get('pesoPaquete')?.errors?.['pattern']" class="invalid-feedback">
                Campo inválido, maximo 3 digitos numéricos y no más de 2 decimales.
              </div>
              <div *ngIf="editForm.get('pesoPaquete')?.errors?.['required']" class="invalid-feedback">
                Este campo es obligatorio.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Unidades<b style="color: red;">*</b></label>
              <input type="text" class="form-control" formControlName="unidadesPaquete" [ngClass]="{
              'is-invalid': editForm.get('unidadesPaquete')?.invalid && (editForm.get('unidadesPaquete')?.touched || editForm.get('unidadesPaquete')?.dirty),
              'is-valid': editForm.get('unidadesPaquete')?.valid && editForm.get('unidadesPaquete')?.dirty
            }">
              <div *ngIf="editForm.get('unidadesPaquete')?.errors?.['pattern']" class="invalid-feedback">
                Campo inválido, unicamente 3 digitos numéricos.
              </div>
              <div *ngIf="editForm.get('unidadesPaquete')?.errors?.['required']" class="invalid-feedback">
                Este campo es obligatorio.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="">Tamaño</label>
              <mat-select class="form-control" formControlName="idTamano" placeholder="---SELECCIONE---" [ngClass]="{
              'is-invalid': editForm.get('idTamano')?.invalid && (editForm.get('idTamano')?.touched || editForm.get('idTamano')?.dirty),
              'is-valid': editForm.get('idTamano')?.valid && (editForm.get('idTamano')?.touched || editForm.get('idTamano')?.dirty)
            }">
                <mat-option *ngFor="let t of tamanos" [value]="t.idTamano">
                  {{ t.tamanoPaquete }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="">Tipo<b style="color: red;">*</b></label>
              <mat-select class="form-control" formControlName="idTipo" placeholder="---SELECCIONE---" [ngClass]="{
              'is-invalid': editForm.get('idTipo')?.invalid && (editForm.get('idTipo')?.touched || editForm.get('idTipo')?.dirty),
              'is-valid': editForm.get('idTipo')?.valid && (editForm.get('idTipo')?.touched || editForm.get('idTipo')?.dirty)
            }">
                <mat-option *ngFor="let t of tipos" [value]="t.idTipo">
                  {{ t.tipoPaquete }}
                </mat-option>
              </mat-select>
              <div *ngIf="editForm.get('idTipo')?.errors?.['required']" class="invalid-feedback">
                Este campo es obligatorio.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Contenido del paquete<b style="color: red;">*</b></label>
              <textarea class="form-control" formControlName="contenidoPaquete" [ngClass]="{
                'is-invalid': editForm.get('contenidoPaquete')?.invalid && (editForm.get('contenidoPaquete')?.touched || editForm.get('contenidoPaquete')?.dirty),
                'is-valid': editForm.get('contenidoPaquete')?.valid && editForm.get('contenidoPaquete')?.dirty
              }"></textarea>
              <div *ngIf="editForm.get('contenidoPaquete')?.errors?.['required']" class="invalid-feedback">
                Este campo es obligatorio.
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Fecha aproximada de entrega<b style="color: red;">*</b></label>
              <input type="date" class="form-control" [min]="getFechAct()" formControlName="fechaAproxEntrega"
                [ngClass]="{
              'is-invalid': editForm.get('fechaAproxEntrega')?.invalid && (editForm.get('fechaAproxEntrega')?.touched || editForm.get('fechaAproxEntrega')?.dirty),
              'is-valid': editForm.get('fechaAproxEntrega')?.valid && editForm.get('fechaAproxEntrega')?.dirty
            }">
              <div *ngIf="editForm.get('fechaAproxEntrega')?.errors?.['required']" class="invalid-feedback">
                Este campo es obligatorio.
              </div>
              <div *ngIf="editForm.get('fechaAproxEntrega')?.errors?.['fechaPasada']" class="invalid-feedback">
                Fecha inválida.
              </div>
            </div>
          </div>
        </div>
        <br>

        <button type="button" mat-raised-button color='accent' (click)="goBack()">Atras</button> |
        <button type="submit" mat-raised-button color='primary' [disabled]="editForm.invalid">Editar</button>
        <br><br>
      </form>
    </div>
  </div>

</app-navigation>