<div class="spinner-overlay" *ngIf="loading">
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>
<app-navigation>
    <div class="container">
        <form [formGroup]="editForm" (ngSubmit)="postForm(editForm.value)">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="idTipoDocumento">Tipo de documento <b style="color: red;">*</b></label>
                        <mat-select class="form-control" formControlName="idTipoDocumento"
                            [class.is-invalid]="editForm.get('idTipoDocumento')?.invalid && editForm.get('idTipoDocumento')?.touched">
                            <mat-option *ngFor="let tipoDocumento of tiposDocumento"
                                [value]="tipoDocumento.idTipoDocumento">{{
                                tipoDocumento.nombreTipo }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Documento <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="documentoCliente" readonly
                            [class.is-invalid]="editForm.get('documentoCliente')?.invalid && editForm.get('documentoCliente')?.touched" />
                        <div *ngIf="editForm.get('documentoCliente')?.errors?.['pattern'] && editForm.get('documentoCliente')?.touched"
                            class="invalid-feedback">
                            Documento inválido, debe contener solo números.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="nombreCliente"
                            [class.is-invalid]="editForm.get('nombreCliente')?.invalid && editForm.get('nombreCliente')?.touched" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Teléfono <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="telefonoCliente"
                            [class.is-invalid]="editForm.get('telefonoCliente')?.invalid && editForm.get('telefonoCliente')?.touched" />
                        <div *ngIf="editForm.get('telefonoCliente')?.errors?.['pattern'] && editForm.get('telefonoCliente')?.touched"
                            class="invalid-feedback">
                            Teléfono inválido, debe contener 10 dígitos numéricos.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Correo <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="correoCliente"
                            [class.is-invalid]="editForm.get('correoCliente')?.invalid && editForm.get('correoCliente')?.touched" />

                        <div *ngIf="editForm.get('correoCliente')?.errors?.['email'] && editForm.get('correoCliente')?.touched"
                            class="invalid-feedback">
                            Correo inválido.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Dirección <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="direccionCliente"
                            [class.is-invalid]="editForm.get('direccionCliente')?.invalid && editForm.get('direccionCliente')?.touched" />
                    </div>
                </div>
            </div>
            <br><br />

            <button type="button" mat-raised-button color='accent' (click)="goBack()">Atras</button> |
            <button type="submit" mat-raised-button color='primary' [disabled]="editForm.invalid">Editar</button>

        </form>
    </div>
</app-navigation>