<div class="spinner-overlay" *ngIf="loading">
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>

<app-navigation>
    <div class="container">
        <br>
        <h2>Editar usuario</h2>
        <br>
        <div class="container">
            <form [formGroup]="editForm" (ngSubmit)="postForm(editForm.value)">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="idTipoDocumento">Tipo de documento <b style="color: red;">*</b></label>
                            <mat-select class="form-control" formControlName="idTipoDocumento"
                                placeholder="---SELECCIONE---" [ngClass]="{
                                'is-invalid': editForm.get('idTipoDocumento')?.invalid && (editForm.get('idTipoDocumento')?.touched || editForm.get('idTipoDocumento')?.dirty),
                                'is-valid': editForm.get('idTipoDocumento')?.valid && (editForm.get('idTipoDocumento')?.touched || editForm.get('idTipoDocumento')?.dirty)
                            }">
                                <mat-option *ngFor="let tipoDocumento of tiposDocumento"
                                    [value]="tipoDocumento.idTipoDocumento">{{ tipoDocumento.nombreTipo }}</mat-option>
                            </mat-select>
                            <div *ngIf="editForm.get('idTipoDocumento')?.errors?.['required']" class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Documento <b style="color: red;">*</b></label>
                            <input type="text" class="form-control" formControlName="documentoUsuario" [ngClass]="{
                                'is-invalid': editForm.get('documentoUsuario')?.invalid && (editForm.get('documentoUsuario')?.touched || editForm.get('documentoUsuario')?.dirty),
                                'is-valid': editForm.get('documentoUsuario')?.valid && (editForm.get('documentoUsuario')?.touched || editForm.get('documentoUsuario')?.dirty)
                            }" />

                            <div *ngIf="editForm.get('documentoUsuario')?.errors?.['pattern']" class="invalid-feedback">
                                Campo no válido. Debe contener solo números, minimo 7 y maximo 10.
                            </div>
                            <div *ngIf="editForm.get('documentoUsuario')?.errors?.['required']"
                                class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Nombre <b style="color: red;">*</b></label>
                            <input type="text" class="form-control" formControlName="nombreUsuario" [ngClass]="{
                                'is-invalid': editForm.get('nombreUsuario')?.invalid && (editForm.get('nombreUsuario')?.touched || editForm.get('nombreUsuario')?.dirty),
                                'is-valid': editForm.get('nombreUsuario')?.valid && (editForm.get('nombreUsuario')?.touched || editForm.get('nombreUsuario')?.dirty)
                            }" />
                            <div *ngIf="editForm.get('nombreUsuario')?.errors?.['required']" class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Apellido <b style="color: red;">*</b></label>
                            <input type="text" class="form-control" formControlName="apellidoUsuario" [ngClass]="{
                                'is-invalid': editForm.get('apellidoUsuario')?.invalid && (editForm.get('apellidoUsuario')?.touched || editForm.get('apellidoUsuario')?.dirty),
                                'is-valid': editForm.get('apellidoUsuario')?.valid && (editForm.get('apellidoUsuario')?.touched || editForm.get('apellidoUsuario')?.dirty)
                            }" />
                            <div *ngIf="editForm.get('apellidoUsuario')?.errors?.['required']" class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Teléfono <b style="color: red;">*</b></label>
                            <input type="text" class="form-control" formControlName="telefonoUsuario" [ngClass]="{
                                'is-invalid': editForm.get('telefonoUsuario')?.invalid && (editForm.get('telefonoUsuario')?.touched || editForm.get('telefonoUsuario')?.dirty),
                                'is-valid': editForm.get('telefonoUsuario')?.valid && (editForm.get('telefonoUsuario')?.touched || editForm.get('telefonoUsuario')?.dirty)
                            }" />

                            <div *ngIf="editForm.get('telefonoUsuario')?.errors?.['pattern']" class="invalid-feedback">
                                Teléfono inválido, debe contener 10 dígitos numéricos.
                            </div>
                            <div *ngIf="editForm.get('telefonoUsuario')?.errors?.['required']" class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Correo <b style="color: red;">*</b></label>
                            <input type="text" class="form-control" formControlName="correoUsuario" [ngClass]="{
                                'is-invalid': editForm.get('correoUsuario')?.invalid && (editForm.get('correoUsuario')?.touched || editForm.get('correoUsuario')?.dirty),
                                'is-valid': editForm.get('correoUsuario')?.valid && (editForm.get('correoUsuario')?.touched || editForm.get('correoUsuario')?.dirty)
                            }" />

                            <div *ngIf="editForm.get('correoUsuario')?.errors?.['pattern']" class="invalid-feedback">
                                Correo inválido.
                            </div>
                            <div *ngIf="editForm.get('correoUsuario')?.errors?.['required']" class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Contraseña</label>
                            <div class="input-group">
                                <input class="form-control" disabled placeholder="**********" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="idTipoDocumento">Rol <b style="color: red;">*</b></label>
                            <mat-select class="form-control" formControlName="idRol" placeholder="---SELECCIONE---"
                                [ngClass]="{
                                'is-invalid': editForm.get('idRol')?.invalid && (editForm.get('idRol')?.touched || editForm.get('idRol')?.dirty),
                                'is-valid': editForm.get('idRol')?.valid && (editForm.get('idRol')?.touched || editForm.get('idRol')?.dirty)
                            }">
                                <mat-option *ngFor="let rol of rolUsuario" [value]="rol.idRol">{{ rol.nombreRol
                                    }}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <br>
                <button type="button" mat-raised-button color='warn' (click)="togglePasswordChange()">
                    {{ showPasswordChange ? 'Cancelar cambio de contraseña' : 'Cambiar contraseña' }}
                </button>
                <br><br>
                <form [formGroup]="pwdForm">
                    <div *ngIf="showPasswordChange">
                        <label for="exampleFormControlInput1">Nueva contraseña <b style="color: red;">*</b></label>
                        <div class="input-group">
                            <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control"
                                formControlName="contrasenaUsuario" [ngClass]="{
                                'is-invalid': pwdForm.get('contrasenaUsuario')?.invalid && (pwdForm.get('contrasenaUsuario')?.touched || pwdForm.get('contrasenaUsuario')?.dirty),
                                'is-valid': pwdForm.get('contrasenaUsuario')?.valid && (pwdForm.get('contrasenaUsuario')?.touched || pwdForm.get('contrasenaUsuario')?.dirty)
                            }" />

                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" style="margin-left: 5px;"
                                    (click)="toggleShowPassword()">
                                    {{ showPassword ? 'Ocultar' : 'Mostrar' }}
                                </button>
                            </div>

                            <div *ngIf="pwdForm.get('contrasenaUsuario')?.errors?.['pattern']" class="invalid-feedback">
                                La contraseña debe contener mínimo: <br>
                                - 8 caracteres.<br>
                                - Una minúscula.<br>
                                - Una mayúscula.<br>
                                - 3 números.<br>
                                - 1 caracter especial.<br>
                            </div>
                            <div *ngIf="pwdForm.get('contrasenaUsuario')?.errors?.['required']"
                                class="invalid-feedback">
                                Este campo es obligatorio.
                            </div>
                        </div>
                    </div>
                </form>

                <br>

                <button type="button" mat-raised-button color='accent' (click)="goBack()">Atras</button> |
                <button type="submit" mat-raised-button color="primary"
                    [disabled]="editForm.invalid || (showPasswordChange && pwdForm.invalid)">Editar</button>
            </form>
        </div>
    </div>
</app-navigation>