.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  position: fixed;
}

.spacer {
  flex: 1 1 auto;
}

.custom-toolbar {
  background-color: #4B0082;
  color: white;
}

#header {
  background-color: #4B0082;
  color: white;
  padding: 10px;
  text-align: center;
}
