<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar id="header">
      <h1>Menú</h1>
    </mat-toolbar>
    <mat-nav-list *ngFor="let module of modules">
      <a mat-list-item [routerLink]="module.route">{{ module.name }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="custom-toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>star-routing</span>
      <span class="spacer"></span>

      <mat-slide-toggle mat-icon-slide (ngModelChange)="onChange($event)" [(ngModel)]="isDarkThemeActive">

      </mat-slide-toggle>

      <button mat-icon-button color="danger" aria-label="Cerrar sesión" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>