<div class="spinner-overlay" *ngIf="loading">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
<app-navigation>
  <br><br>

  <div class="container">
    <form [formGroup]="newForm" (ngSubmit)="postForm(newForm.value)">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlInput1">Nombre Rol <b style="color: red;">*</b></label>
            <input type="text" class="form-control" formControlName="nombreRol">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleFormControlInput1">Descripcion Rol</label>
            <input type="text" class="form-control" formControlName="descripcionRol" />
          </div>
        </div>
      </div>
      <br><br />
      <div class="form-group" formArrayName="permisosSeleccionados">
        <label>Permisos:</label>
        <div *ngFor="let permiso of permisos; let i = index">
          <label>
            <input type="checkbox" [formControlName]="i">
            {{ permiso.nombrePermiso }}
          </label>
        </div>
      </div>

      <br><br>


      <button type="button" mat-raised-button color='accent' (click)="goBack()">Atras</button> |
      <button type="submit" mat-raised-button color='primary'>Guardar</button>

    </form>
  </div>
</app-navigation>